@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Jost:wght@500;700&display=swap');

* {

    font-family: "Poppins", Helvetica, sans-serif;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)), url(./assets/background.png);
    background-color: #0f0f0f;
    background-size: 182vh;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
}


.gamearea {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100vh;
    background-image: url(./assets/shadow.svg);
    background-position: 50%;

}

.chooseGame {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    height: 340px;
    width: 340px;
}

#vs {
    margin-top: 12px;
    width: 354px;
    height: 64px;
    background-image: url(./assets/vs-button.svg);
    filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 1));
}

#computer {
    width: 354px;
    height: 64px;
    background-image: url(./assets/computer-button.svg);
    filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 1));

}

#impossible {
    width: 354px;
    height: 64px;
    background-image: url(./assets/impossible-button.svg);
    filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 1));

}

.game-mode {

    margin-top: 20px;
    width: 354px;
    height: 44px;
    background-image: url(./assets/gamemode.svg);
    background-repeat: no-repeat;
    background-position: center;

}


.gameboard {
    /* 
    display: grid; */
    display: none;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    align-items: center;
    height: fit-content;
    background-image: url(./assets/gridbackground.svg);
}

.game-selection {
    cursor: pointer;
    width: 100px;
    height: 100px;
    background-image: url(./assets/griditembackground.png);
}



.game-selection:hover {
    background-size: 98px 98px;
    background-position: 50%;
    opacity: 98%;

}

.already-selected {
    background-color: #0f0f0f2b;
    background-blend-mode: multiply;
    pointer-events: none;
}


.titleBoard {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 340px;
    height: 48px;
    background-image: url(./assets/titlegraphic.svg);
    background-repeat: no-repeat;
    background-position: center;
}



.buttons {
    display: flex;
    /* 
    justify-content: space-around; */
    justify-content: center;
    gap: 24px;
    width: 340px;
    height: 80px;
}

button {

    width: 120px;
    height: 120px;
    all: unset;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.3s;
}


button img {
    width: 120px;
    height: 120px;
}


button:hover {
    filter: brightness(160%);
    opacity: 80%;
    transition-duration: 0.3s;
}


#back {
    display: none;
    width: 60px;
    height: 60px;
}

#github {
    width: 60px;
    height: 60px;

}

#volume {
    width: 60px;
    height: 60px;
}

#restart {

    display: none;
    width: 60px;
    height: 60px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 2;
    justify-content: center;
    align-items: center;
    background-color: #0f0f0f60;
    backdrop-filter: blur(8px);
    width: 100vw;
    height: 100vh;
}


.end-game-modal {
    display: none;
    position: fixed;
    z-index: 2;
    justify-content: center;
    align-items: center;
    background-color: #0f0f0f60;
    backdrop-filter: blur(8px);
    width: 100vw;
    height: 100vh;
}

.gameend {
    display: flex;
    z-index: 2;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    color: white;
    width: 686px;
    height: 508px;
    background: #101418;
    box-shadow: 0px 4px 64px 30px rgba(0, 0, 0, 0.65);
    border: double 2px transparent;
    border-radius: 20px;
    background-image: linear-gradient(#101418, #0C0F12), radial-gradient(circle at top, rgb(255, 255, 255), #363636);
    background-origin: border-box;
    background-clip: padding-box, border-box;

}

.modal-player-one {
    display: flex;
    z-index: 2;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    color: white;
    width: 686px;
    height: 508px;
    background: #101418;
    box-shadow: 0px 4px 64px 30px rgba(0, 0, 0, 0.65);
    border: double 2px transparent;
    border-radius: 20px;
    background-image: linear-gradient(#101418, #0C0F12), radial-gradient(circle at top, rgb(255, 255, 255), #363636);
    background-origin: border-box;
    background-clip: padding-box, border-box;

}

h1 {
    font-family: Jost;
    font-size: 64px;
}

h2 {
    font-family: Jost;
    font-weight: 500;
    font-size: 32px;
}

input {

    color: white;
    border: 0;
    height: 52px;
    border-radius: 8px;
    width: 82%;
    margin-bottom: 24px;
    margin-top: 24px;
    outline: none;
    padding-left: 24px;
    background-image: url(./assets/input-background.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgba(0, 0, 0, 0);


}


input:focus {
    filter: brightness(1.1);
}

#play-again {
    font-family: Jost;
    font-size: 18px;
    width: 88%;
    height: 54px;
    opacity: 100%;
    pointer-events: none;
    margin-top: 20px;
    margin-bottom: 2px;
    background: linear-gradient(180deg, #424242a7 0%, rgba(29, 29, 29, 0) 100%);
    border: 1px solid #ffffff8b;
    border-radius: 8px;
    pointer-events: all;

}

#main-menu {
    font-family: Jost;
    font-size: 18px;
    width: 88%;
    height: 54px;
    opacity: 100%;
    pointer-events: none;
    margin-top: 20px;
    margin-bottom: 2px;
    background: linear-gradient(180deg, #424242a7 0%, rgba(29, 29, 29, 0) 100%);
    border: 1px solid #ffffff8b;
    border-radius: 8px;
    pointer-events: all;

}

#player-selection {
    display: flex;
    flex-direction: row;
}

.player-selection-x {
    width: 100px;
    height: 100px;
    background-image: url(./assets/X.svg);
    background-size: contain;
}

.player-selection-o {
    width: 100px;
    height: 100px;
    background-image: url(./assets/O.svg);
    background-size: contain;
}


#titleText {
    height: 2.8vh;
}

#player-selection-x {
    margin: 10px;
    height: 120px;
    width: 268px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(./assets/player-selection-x.svg);
}


#player-selection-o {
    margin: 10px;
    height: 120px;
    width: 268px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(./assets/player-selection-o.svg);
}

#player-selection-x:hover {
    width: 264px;
}


#player-selection-o:hover {
    width: 264px;
}

#next {
    width: 88%;
    height: 54px;
    opacity: 10%;
    pointer-events: none;
    margin-top: 20px;
    margin-bottom: 2px;
    background-image: url(./assets/next.svg);
    background-position: center;
    background-repeat: no-repeat;
}

#start {
    display: none;
    width: 88%;
    height: 54px;
    opacity: 10%;
    pointer-events: none;
    margin-top: 20px;
    margin-bottom: 2px;
    background-image: url(./assets/start.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.modalBack {
    position: fixed;
    width: 100vw;
    height: 200vh;
    background: rgba(36, 36, 36, 0.157);
    backdrop-filter: blur(4px);
    z-index: 1;
}



@media only screen and (max-width: 720px) {

    #player-selection-x {
        width: 32vw;
    }

    #player-selection-o {
        width: 32vw;
    }

    #player-selection-x:hover {
        width: 32vw;
    }

    #player-selection-o:hover {
        width: 32vw;
    }

}